body {
    background-color: lightcyan;
}

.base-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.base-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.base-melon {
    height: 400px;
    width: 450px;
    border: solid black 2px;
    box-shadow: 2px 2px 4px black;
}

.melon-image {
    height: 300px;
    width: 300px;
    border: solid black 4px;
}

#melon-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.four-oh-four {
    display: flex;
    justify-content: center;
}